@model User

@{
    ViewData["Href"] = "#collapse" + Model.Id;
    ViewData["ID"] = "collapse" + Model.Id;
}

<a class="center-block">
    <img class="img-circle" src=@Model.Avatar>
</a>

<dl class="center-block">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>

    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Model.Email</dd>

    <dt class="col-sm-3 text-truncate">Registration date</dt>
    <dd class="col-sm-9">@Model.CreatedAt</dd>

    <dt class="col-sm-3 text-truncate">Posts</dt>
    @if (Model.Posts.Count > 0)
    {
        <dd class="col-sm-9">@Html.ActionLink(Model.Posts.Count.ToString(), "Index", "Post", new { id = Model.Id })</dd>
    }
    else
    {<dd class="col-sm-9">@Model.Posts.Count.ToString()</dd>}
    

    <dt class="col-sm-3 text-truncate">Todos</dt>
    @if (Model.Todos.Count > 0)
    {
        <dd class="col-sm-9">@Html.ActionLink(Model.Todos.Count.ToString(), "Index", "Todo", new { id = Model.Id })</dd>
    }
    else

    {<dd class="col-sm-9">@Model.Todos.Count.ToString()</dd>}
    
</dl>




